<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>Tcgg</id>
<name>弹窗公告</name>
<url>https://www.go345.cn</url>
<note>弹窗提醒窗口,可以设置边框颜色和弹窗的提醒周期！</note>
<description>弹窗提醒窗口,可以设置边框颜色和弹窗的提醒周期！</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>骏豆</name>
  <email>1038988341@qq.com</email>
  <url>https://www.go345.cn</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151626</adapted>
<version>1.0</version>
<pubdate>2019-11-06</pubdate>
<modified>2020-03-18</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>