<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
  </head>
  <body>
    <h1>LeanEngine</h1>
    <p>This is a LeanEngine demo application.</p>
    <p>Current date: <%= currentTime %></p>
  </body>
</html>