<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>LoginReg</id>
<name>登录注册</name>
<url>http://b.tenyou.cn/</url>
<note>登录注册组件</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>o0o520</name>
  <email>qq9028456@gmail.com</email>
  <url>http://b.tenyou.cn/</url>
</author>
<source>
  <name>o0o520</name>
  <email>qq9028456@gmail.com</email>
  <url>http://b.tenyou.cn/</url>
</source>
<adapted>173290</adapted>
<version>1.0.0</version>
<pubdate>2023-09-07</pubdate>
<modified>2023-09-07</modified>
<price>0</price>
<phpver>5.3</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>