/*
Theme ID: ydcms
Author: guokun
Author QQ：525887672
Author Email：525887672@qq.com
Author URL: http://www.yzktw.com.cn/
*/

#mnav,#msearch{display: none;}
#header .logo img.mlogo{display: none;}
@media screen and (max-width: 980px) {
	body{margin-top: 45px;}
	.container{width: 100%;margin: 0;}
	/**/
	#mnav,#msearch{display: block;height: 45px;padding: 0 5%;overflow: hidden}
	#mnav{position: absolute;left: 0;z-index: 13;color: #fff;}
	#msearch{position: absolute;right: 0;z-index: 18;color: #fff;}
	/*header*/
	#header{min-height: 45px;padding: 0; background-color: #0073c6;height: 45px;line-height: 45px;
		position: fixed;top: 0;left: 0;z-index: 12;
	}
	.bordertop{display: none;}
	#header .logo{width: 100%;text-align: center;}
	#header .logo img{display: none; max-height: 45px;}
	#header .logo img.mlogo{display: inline-block;max-height: 45px;}
	.logor{display: none;}
	/*传统菜单+搜索*/
	#nav{display: none; position: fixed;top: 45px;left: 0;z-index: 16; width: 100%; height: auto; margin-bottom: 20px; background-color: rgba(0,0,0,.8);}
	.nav ul{text-align: center;}
	.nav ul li{float: none;display: block;position: static}
	.nav ul li:hover{background-color: #0073c6;}
	.nav ul li:hover a{background-color: #0073c6;}
	.nav ul li a{padding: 0;color: #fff;}
	
	.nav ul ul{position: static;display: block;background-color: rgba(0,0,0,.2);}
	.nav ul ul li{font-size: 14px;background-color: rgba(0,0,0,.2);}
	.nav ul ul li a{ display: block;line-height: 35px;}
	
	.nav ul ul li:hover ul{display: none;}
	.nav .active>a{background-color: #e84807;width: 100%;}
	/*==///==*/
	/*简洁菜单+搜索*/
	#miniheader{position: fixed;top: 0;left: 0;z-index: 12;height: 45px;line-height: 45px;}
	.miniheader{position: static}
	.miniheader_bottom{height: 0;}
	.miniright{display: none;}
	/*mininav*/
	#miniheader .mininav{display: none;position: fixed;top: 45px;left: 0;z-index: 16; width: 100%;background-color: rgba(0,0,0,.8);}
	#miniheader .minilogo{width: 100%;text-align: center;}
	#miniheader .minilogo img{height: 42px;}
	
	#miniheader .mininav ul{text-align: center;}
	#miniheader .mininav ul li{float: none;display: block;position: static}
	#miniheader .mininav ul li:hover{background-color: #0073c6;}
	#miniheader .mininav ul li:hover a{background-color: #0073c6;}
	#miniheader .mininav ul li a{padding: 0;color: #fff;}
	#miniheader .mininav ul ul{position: static;display: block; }
	#miniheader .mininav ul ul li{font-size: 14px;background-color: rgba(0,0,0,.2);}
	#miniheader .mininav ul ul li a{ display: block;background-color: rgba(0,0,0,.8); line-height: 35px;}
	#miniheader .mininav ul ul li:hover ul{display: none;}
	#miniheader .mininav li.active>a{background-color: #e84807;width: 100%;}
	/*mninisearch*/
	#miniheader .minisearch{display: none; margin: 0 auto;width: 100%; height: 80px; background-color: rgba(0,0,0,.8);position: absolute;top: 45px;}
	.minisearch form{width:80%; margin: 20px auto;}
	.minisearch form input{float: left; width: 72%;height: 40px;border: 0;padding-left: 2%;}
	.minisearch form button{float: left; width: 22%;height: 40px;background-color: #e84807;color: #fff; border: 0;}
	
	/**/
	
	#header .search{display: none; position: fixed;top:45px;left: 0;width: 100%; z-index: 19;
		background-color: rgba(0,0,0,.7);
		margin-left: 0;margin-top: 0;
	}
	.search form{width: 323px;margin: 20px auto;overflow: hidden}
	.search .text{float: left;width: 250px; height: 35px;line-height: 35px; padding-left: 10px;border: 1px solid #0073c6;}
	.search .submit{float: left;width: 60px;height: 37px;line-height: 37px;background-color:#0073c6;border: 0;color: #fff;text-align: center;}
	/*======main========*/
	#main{margin-bottom: 20px;}
	.mainleft{display: none;}
	.mainright{width: 96%;margin-top: 10px; margin-left: 2%;margin-right: 2%;}
	/*hdp*/
	.swiper-slide {max-height: 220px;}
	.swiper-slide img{width: 100%;height: auto;}
	/*mainimg*/
	.mainimg ul{margin-right: -2%;}
	.mainimg li{width: 48%; margin-right: 2%;margin-bottom:4px;}
	.mainimg li:nth-child(5n+0){margin-right:2%;}
	.mainimg li img{width: 100%;height: 140px;}
	.mainimg li h3{height: 24px;}
	/*mainlist*/
	.mainlist li .img{width: 45%;max-height: 120px;}
	.mainlist li .img img{width: 92%;}
	.mainlist li .sub{display: none;}
	.mainlist li p{max-height: 120px; overflow: hidden}
	.mainlist li .tag{display: none;}
	.mainlist li .more{display: none;}
	/*=======post=======*/
/*	.mainpost .sub{display: none;}*/
	/*relates*/
	.relates ul{margin-right: -2%;}
	.relates li{width: 48%; margin-right: 2%;}
	.relates li a{width: 100%;height: 120px;}
	.relates li img{width: 100%;height: auto;}
	/*comment*/
	.commentpost .com-box textarea{width: 99.2%;}
	/*footer*/
	#footer{display: none;}
	.copyright .cl{margin-bottom: 10px;margin-left: 2%;margin-right: 2%;}
	.copyright .cr{display: none;}
	/*视频自适应*/
	.blog-content embed, .blog-content video, .blog-content iframe{max-width: 100%;height: 220px;}
	/**/
	
	/**/
	
}